/.idea
/node_modules
/public/hot
/public/assets/*
/public/koolreport_assets/*
/public/storage
/storage/*.key
/storage/backups
/storage/backup-temp
/vendor
/public/js/*
/public/css/*
!/public/css/print.css
/public/mix-manifest.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpmd.html
.DS_Store/