.user-button {
    color: #3C493F !important;
    text-decoration: none;
    font-size: 1em;
    background: #ffffff;
    padding: 5px;
    border: 2px solid #3C493F !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.user-button:hover {
    color: #ffffff !important;
    background: #7E8D85;
    border-color: #7E8D85 !important;
    transition: all 0.4s ease 0s;
}

.logo-link {
    color: #a2e3c4 !important;
}

.logo-link:hover {
    color: #7E8D85 !important;
}

.logo-button {
    color: #a2e3c4 !important;
    text-decoration: none;
    font-size: 1em;
    background: #ffffff;
    padding: 0;
    display: inline-block;
    transition: all 0.4s ease 0s;
    margin-left: 1px;
}

.logo-button:hover {
    color: #3C493F !important;
    background: #a2e3c4;
    transition: all 0.4s ease 0s;
}

.lazycode-navbar {
    border-bottom: 1px solid #a2e3c4 !important;
    box-shadow: none !important;
}

.header-title-text {
    font-size: 2rem;
    color: #3C493F;
}

.posts-list {
    color: #3C493F;
}

.users-list {
    color: #3C493F;
}

.vue-link {
    color: #3C493F !important;
    text-decoration: none;
}

.vue-link:hover {
    color: #7E8D85 !important;
    text-decoration: none;
}

.vue-link-button {
    color: #3C493F !important;
    text-decoration: none;
}

.vue-link-button:hover {
    color: #ffffff !important;
    text-decoration: none;
}

.post-area {
    list-style-type: none;
    padding: 0;
}

.user-area {
    list-style-type: none;
    padding: 0;
}

.user-field {
    color: #3C493F;
}

.post-field {
    color: #3C493F;
}

.user-icon {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    border: 0.2rem solid #7E8D85;
}

.user-icon-item {
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #7E8D85;
}

.user-name span {
    font-size: 1.6rem;
    color: #3C493F;
}

.user-username-link {
    font-size: 1.6rem;
    color: #88bfa5 !important;
}

.user-about span {
    font-size: 1.2rem;
    color: #3C493F;
}

.section-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.section-item {
    float: left;
}

.section-item a {
    display: block;
    color: #5f7685 !important;
    text-align: center;
    padding: 1rem 0rem 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
}

.section-item a:hover {
    color: #88bfa5 !important;
}

.hr-user {
    margin-top: 0;
}

.search-bar {
    padding-top: 1rem;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #88bfa5;
    box-shadow: 0 1px 0 0 #88bfa5;
    font-size: 1rem;
}
.active-cyan input[type=text] {
    border-bottom: 1px solid #88bfa5;
    box-shadow: 0 1px 0 0 #88bfa5;
    font-size: 1rem;
    display:block;
    width:100%;
}
.active-cyan .fa, .active-cyan-2 .fa {
    color: #88bfa5;
}

.meta--category {
    font-size: 1rem;
    color: #6f9d88 !important;
}

.category-block {
    margin-top: 0.2rem;
}

.user-icon-img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #7E8D85;
}

.username-item-link {
    font-size: 1.2rem;
    color: #88bfa5 !important;
}
